@font-face {
    font-family: 'Primaria';
    src: url('./');
}

@font-face {
    font-family: 'Secundaria';
    src: url('./assets/Fonts/Enchanted\ Land.otf');
}

@font-face {
    font-family: 'Capital';
    src: url('./assets/Fonts/mevno2.ttf');
}

body {
    display: flex;
    justify-content: center;
}

p {
    line-height: 0px;
    font-family: 'Secundaria';
    margin-left: 0.2rem;
}

.pCapitalCima {
    margin-top: 0.4rem;
}

.pCapital {
    margin-left: 4rem;
}

#letraCapital {
    all: unset;
    position: absolute;
    font-family: 'Capital';
    font-size: 3rem;
    z-index: 1;
}

main {
    background-image: url(./imgs/livro.jfif);
    background-position: center;
    background-repeat: no-repeat;
    width: 735px;
    height: 568px;
}

#footerImg {
    max-width: 200px;
    height: auto;
}

#book {
    padding: 65px;
}


@Media(max-width:1200px) {
    main {
        background-position: left;
        width: 735px;
        height: 568px;
    }
}